# Project build and release directories
target/
bin/
bin-debug/
bin-release/

# Intellij IDEA project files
.idea/
*.iml
*.ipr
*.iws

# Eclipse/Flex/Flash Builder project files
.flexLibProperties
.classpath

# Maven release plugin files
pom.xml.releaseBackup
release.properties

# Mac OS
*.DS_Store
